<!DOCTYPE html>
<html>
<head>
  <title><%= page.title %></title>
  <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>
<body>
  <%- partial('_partials/header') %>
  <main>
    <%= page.content %>
  </main>
  <%- partial('_partials/footer') %>
  <script src="/scripts/script.js"></script>
</body>
</html>